__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.envrc
.idea/
*.sqlite3
*.db.DS_Store
*.log
*.pid
*.egg-info/
dist/
build/
*.tgz
*.tar.gz
*.zip
# VSCode
.vscode/
# Telegram bot token/config
config.yaml
secrets.json
todo.txt
